.Header {
  max-width: var(--size-container-padding);
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 3rem;
  margin-top: 1.5rem;
}

.Header__logo {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (min-width: 768px) {
  .Header {
    min-height: 3.625rem;
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .Header {
    margin-top: 3.438rem;
  }
}
