/* Variables */

:root {
  --font-heading: var(--font-barlow);
  --font-body: var(--font-barlow);

  --font-barlow: 'Barlow', sans-serif;

  --clr-primary-600: #f16718;
  --clr-primary-200: #ff9b62;
  --clr-secondary-900: #162542;
  --clr-secondary-500: #7b8bad;

  --clr-neutral-200: #e8eff2;
  --clr-neutral-100: #ffffff;

  --size-container: 90rem;
  --size-container-padding: 69.375rem;
}

/* Typography */

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 3.5rem;
  letter-spacing: 0px;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.25rem;
  letter-spacing: 0px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.75rem;
  letter-spacing: 0px;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  letter-spacing: 0px;
}

a,
button {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
  letter-spacing: 0px;
}

.Heading {
  font-family: var(--font-heading);
  color: var(--clr-secondary-900);
  text-transform: uppercase;
}

.Body {
  font-family: var(--font-body);
  color: var(--clr-secondary-500);
}

/* Breakpoints */

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
