---
import '../styles/index.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap" />

    <title>Frontend Mentor | Typemaster pre-launch landing page</title>
  </head>
  <body>
    <header class="Header">
      <img class="Header__logo" src="/shared/logo.svg" alt="" />
      <a class="Button Button--plain" href="#">Pre-order now</a>
    </header>

    <main class="Container">
      <section class="Hero">
        <article class="Hero__body">
          <h1 class="Hero__title Heading Heading--lg">Typemaster keyboard</h1>
          <p class="Hero__description Text">
            Improve your productivity and gaming without breaking the bank. Upgrade to a high quality mechanical typing
            experience.
          </p>
          <div class="Hero__button-wrapper">
            <a class="Button Button--primary" href="#">Pre-order now</a>
            <p class="Text Text--bold">Release on 5/27</p>
          </div>
        </article>
        <div class="Hero__image-wrapper">
          <picture>
            <source media="(min-width:768px)" srcset="/tablet/image-keyboard.jpg" />
            <source media="(min-width:1024px)" srcset="/desktop/image-keyboard.jpg" />
            <img
              class="Hero__image"
              src="/mobile/image-keyboard.jpg"
              alt="Gray mechanical keyboard laying on the desk."
            />
          </picture>
        </div>
      </section>

      <section class="GridSection">
        <div class="GridSection__tile GridSection__tile--slim">
          <picture>
            <source media="(min-width:768px)" srcset="/tablet/image-phone-and-keyboard.jpg" />
            <source media="(min-width:1024px)" srcset="/desktop/image-phone-and-keyboard.jpg" />
            <img
              class="GridSection__image GridSection__image--slim"
              src="/mobile/image-phone-and-keyboard.jpg"
              alt="Desk with a mechanical keyboard, palmrest and a mobile phone on it."
            />
          </picture>
        </div>
        <div class="GridSection__tile GridSection__tile--wide">
          <picture>
            <source media="(min-width:768px)" srcset="/tablet/image-glass-and-keyboard.jpg" />
            <source media="(min-width:1024px)" srcset="/desktop/image-glass-and-keyboard.jpg" />
            <img
              class="GridSection__image GridSection__image--wide"
              src="/mobile/image-glass-and-keyboard.jpg"
              alt="Desk with a mechanical keyboard, notebook, profiled mouse with mousepad and a glass of water on it."
            />
          </picture>
        </div>
        <div class="GridSection__tile GridSection__tile--body">
          <h2 class="Heading Heading--md">Mechanical wireless keyboard</h2>
          <p class="Text">
            The Typemaster keyboard boasts top-notch build and practical design. It offers a wide variety of switches
            and keycaps, along with reliable wireless connectivity.
          </p>
        </div>
      </section>

      <section class="CardSection">
        <div class="Card">
          <img class="Card__icon" src="/shared/icon-compatible.svg" alt="" aria-hidden />
          <h3 class="Heading Heading--sm">Highly compatible</h3>
          <p class="Text">
            Easy to use and works well with all major computer brands, gaming consoles and mobile devices. Plug & play,
            no installation or driver needed.
          </p>
        </div>
        <div class="Card">
          <img class="Card__icon" src="/shared/icon-bluetooth.svg" alt="" aria-hidden />
          <h3 class="Heading">Wireless with bluetooth</h3>
          <p class="Text">
            Powerful 2.4G RF technology allows you to connect the cordless keyboard from up to 30ft away. Simply plug
            the unifying receiver into your computer.
          </p>
        </div>
        <div class="Card">
          <img class="Card__icon" src="/shared/icon-battery.svg" alt="" aria-hidden />
          <h3 class="Heading">High capacity battery</h3>
          <p class="Text">
            Equipped with a long-lasting built-in battery, you’ll never have to spend a dime on replaceable ones. Enjoy
            40 hours of usage time between charges.
          </p>
        </div>
        <div class="Card">
          <img class="Card__icon" src="/shared/icon-light.svg" alt="" aria-hidden />
          <h3 class="Heading">RGB backlit modes</h3>
          <p class="Text">
            Choose from 4 backlight brightness levels and adjustable breathing speed. Each key glows intensely in the
            dark and helps you type in low light conditions.
          </p>
        </div>
      </section>
    </main>

    <footer class="Footer">
      <p class="Text"><strong class="Text--bold">Typemaster 2021</strong>| All Rights Reserved</p>
    </footer>
  </body>
</html>
